@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
}

body.light {
  background-color: #ffffff;
  color: #213547;
}

body.dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, p, a {
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

body.dark button {
  background-color: #333333;
  color: #ffffff;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Animación y estilo 3D para tarjeta */
.card-3d {
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  position: relative;
}

.card-rotate {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* cartas back */

.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.flip-card-front {
  font-size: 1.25rem;
}

.flip-card-back {
  transform: rotateY(180deg);
  font-size: 0.875rem;
}
